<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="author" content="Pharaohlab">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title>年齡大挑戰 | Visual Recognition</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" type="image/png" href="assets/img/user.png">
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/et-line.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="assets/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <style type="text/css">
        .ageTitle{
            font-size: 18pt;
            font-weight: bolder;
        }
    </style>

</head>
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-center">
        <!--=================== side menu ====================-->
        <div class="col-lg-2 col-md-3 col-12 menu_block">

            <!--logo -->
            <div class="logo_box">
                <a href="#">
                    <img src="assets/img/logo.png" alt="cocoon">
                </a>
            </div>
            <!--logo end-->

            <!--main menu -->
            <div class="side_menu_section">
                <ul class="menu_nav">
                    <li>
                        <a href="/">
                            首頁
                        </a>
                    </li>
                     <li>
                        <a href="index_recognize">
                            圖片辨識
                        </a>
                    </li>
                    <li>
                        <a href="index_compare">
                            相似圖分析
                        </a>
                    </li>
                    <li class="active">
                        <a href="index_challenge">
                            年齡大挑戰
                        </a>
                    </li> 
                    <li>
                        <a href="index_guess">
                            年齡猜猜樂
                        </a>
                    </li>
                    <li>
                        <a href="index_aboutus">
                            關於我們
                        </a>
                    </li>
                </ul>
            </div>
            <!--main menu end -->


            <!--social and copyright -->
            <div class="side_menu_bottom">
                <div class="side_menu_bottom_inner">
                    <div class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | NTUST Dep.IM</p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!--social and copyright end -->

        </div>
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
            <div>
                <div class="img_card">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-7 content_section">
                            <!--=================== contact info and form start====================-->
                            <div class="content_box">
                                <div class="content_box_inner">
                                    <div>
                                        <h3>
                                            年齡大挑戰 Age Challenge
                                        </h3>
                                        <table style="width: 100%;"><tr><td style="text-align: center;"><img id="myImg" src="<%= source %>" alt="The Pulpit Rock" width="200px"></td></tr></table>
                                        
                                        <div style="text-align: center; margin-top: 20px;">
                                            <span class="counter" style="color: #FF0000;font-size: 60pt; font-weight: 500;"><%= Math.round((age.min+age.max )/2) %></span> 歲
                                        </div>
                                        <div style="text-align: center; margin-top: 20px;">
                                            <% if(Math.round((age.min+age.max )/2) < 20){ %>
                                               <p class="ageTitle">WOW，這個年紀...青春年華小鮮肉一枚(口水...</p>
                                                <audio controls="controls" autoplay="autoplay"  height="100" width="100"> 
                                                     <source src="assets\audio\young.wav"  type="audio/mp3" /> 
                                                </audio>

                                             <% } else if(Math.round((age.min+age.max )/2) < 30) { %>  
                                               <p class="ageTitle">摁，這個年紀...正值壯年，繼續貢獻勞力吧！</p>
                                                <audio controls="controls" autoplay="autoplay"  height="100" width="100"> 
                                                     <source src="assets\audio\youngold.wav"  type="audio/mp3" /> 
                                                </audio>

                                            <% } else if(Math.round((age.min+age.max )/2) < 40) { %>  
                                               <p class="ageTitle">摁，這個年紀...壯年晚期，看起來年紀有點大呀！</p>
                                                <audio controls="controls" autoplay="autoplay"  height="100" width="100"> 
                                                    <source src="assets\audio\youngoldold.wav"  type="audio/mp3" /> 
                                                </audio>

                                            <% } else if(Math.round((age.min+age.max )/2) < 60) { %>  
                                               <p class="ageTitle">摁，這個年紀...邁入老年，請好好保養你的容貌．</p>
                                                <audio controls="controls" autoplay="autoplay"  height="100" width="100"> 
                                                    <source src="assets\audio\old.wav"  type="audio/mp3" /> 
                                                </audio>

                                            <% } else { %>  
                                               <p class="ageTitle">WOW，這個年紀...國寶啊！！</p>
                                                <audio controls="controls" autoplay="autoplay"  height="100" width="100"> 
                                                    <source src="assets\audio\oldold.wav"  type="audio/mp3" /> 
                                                </audio>
                                            <% } %>
                                        </div>

                                        <p style="font-size: 10pt; margin-top: 90px;">
                                            年齡分析結果:<br>
                                            (1)性別: <%= gender.gender %> ； 準確度: <%= new Number((gender.score)*100).toFixed(2) %>％<br>
                                            (2)年齡: <%= age.min %>  ~  <%= age.max %> ； 準確度: <%= new Number((age.score)*100).toFixed(2) %>％<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--=================== contact info and form end====================-->
                        </div>
                        <div class="col-md-6 col-5 img_section" style="background-image: url('assets/img/bg/challenge2.jpeg');">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== content body end ====================-->
    </div>
</div>


<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/slick.min.js"></script>
<!--Portfolio Filter-->
<script src="assets/js/imgloaded.js"></script>
<script src="assets/js/isotope.js"></script>
<!-- Magnific-popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!--Counter-->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="assets/js/main.js"></script>
</body>
</html>