<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="author" content="Pharaohlab">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title>相似圖分析 | Visual Recognition</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" type="image/png" href="assets/img/user.png">
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/et-line.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="assets/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <style type="text/css">
        #myProgress {
          width: 85%;
          margin-left: 10%;
          background-color: #ddd;
        }

        #myBar1,#myBar2,#myBar3 {
          width: 1%;
          height: 30px;
        }
        #myBar1 {
          background-color: #4298f4;
        }
        #myBar2{
          background-color: #49b752;
        }
        #myBar3 {
          background-color: #f4af41;
        }
    </style>
</head>
<body onload="score();">
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-center">
        <!--=================== side menu ====================-->
        <div class="col-lg-2 col-md-3 col-12 menu_block">

            <!--logo -->
            <div class="logo_box">
                <a href="#">
                    <img src="assets/img/logo.png" alt="cocoon">
                </a>
            </div>
            <!--logo end-->

            <!--main menu -->
            <div class="side_menu_section">
                <ul class="menu_nav">
                    <li>
                        <a href="/">
                            首頁
                        </a>
                    </li>
                     <li>
                        <a href="index_recognize">
                            圖片辨識
                        </a>
                    </li>
                    <li class="active">
                        <a href="index_compare">
                            相似圖分析
                        </a>
                    </li>
                    <li >
                        <a href="index_challenge">
                            年齡大挑戰
                        </a>
                    </li> 
                    <li>
                        <a href="index_guess">
                            年齡猜猜樂
                        </a>
                    </li>
                    <li>
                        <a href="index_aboutus">
                            關於我們
                        </a>
                    </li>
                </ul>
            </div>
            <!--main menu end -->


            <!--social and copyright -->
            <div class="side_menu_bottom">
                <div class="side_menu_bottom_inner">
                    <div class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | NTUST Dep.IM</p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!--social and copyright end -->

        </div>
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
            <div>
                <div class="img_card">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-7 content_section">
                            <!--=================== contact info and form start====================-->
                            <div class="content_box">
                                <div class="content_box_inner">
                                    <div>
                                        <h3>
                                            相似圖分析 Similar Pictures
                                        </h3>

                                        <h4>分析結果</h4>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="text-align: center; width: 50%;"><img id="myImg" src="<%= pic1 %>" alt="The Compared Pic1"></td>
                                                <td style="text-align: center; width: 50%;"><img id="myImg" src="<%= pic2 %>" alt="The Compared Pic2"></td>
                                            </tr>
                                        </table>
                                        <div style="font-size: 10pt; margin-top: 50px;" >
                                            <p style="font-size: 20pt; color: #4c4c4c; font-weight: bolder; ">這兩張圖片<span style='color:red; font-size:25pt;'><%= compare_ans %></span></p>
                                            <br>
                                            <p style="font-size: 14pt; font-weight: 300;  margin-bottom:0px; font-weight: bold;">圖片共同特徵：</p>
                                            <div style="font-size: 12pt; color: #4c4c4c; margin-left: 20px;">
                                                <% if(compare_times == 0){ %>
                                                    無共同特徵<br>
                                                <% } %>
                                                <% if(compare_times >= 1){ %>
                                                    (1)<%= compare_word1 %><br>
                                                <% } %>
                                                <% if(compare_times >= 2){ %>
                                                    (2)<%= compare_word2 %><br>
                                                <% } %>
                                                <% if(compare_times >= 3){ %>
                                                    (3)<%= compare_word3 %><br>
                                                <% } %>
                                                <% if(compare_times >= 4){ %>
                                                    (4)<%= compare_word4 %><br>
                                                <% } %>
                                                <% if(compare_times >= 5){ %>
                                                    (5)<%= compare_word5 %><br>
                                                <% } %>
                                            </div>

                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                            <!--=================== contact info and form end====================-->
                        </div>
                        <div class="col-md-6 col-5 img_section" style="background-image: url('assets/img/bg/compare3.jpg');">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== content body end ====================-->
    </div>
</div>


<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/slick.min.js"></script>
<!--Portfolio Filter-->
<script src="assets/js/imgloaded.js"></script>
<script src="assets/js/isotope.js"></script>
<!-- Magnific-popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!--Counter-->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="assets/js/main.js"></script>


</body>
</html>